__pycache__/
*.pyc
.venv/
.env
data/raw/*
data/processed/*
data/sample/*
!data/sample/.gitkeep
!data/**/.gitkeep
mlruns/
mlartifacts/
artifacts/
reports/*
!reports/.gitkeep
.pytest_cache/
.ruff_cache/
*.egg-info/
docs/*.docx
