__pycache__/
*.pyc
.venv/
.env
data/raw/*
data/processed/*
!data/**/.gitkeep
mlruns/
mlartifacts/
mlflow_data/
artifacts/
reports/*
!reports/.gitkeep
.pytest_cache/
.ruff_cache/
docs/*.docx
*.egg-info/
